.git
.github
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
node_modules
vendor
npm-debug.log
yarn-error.log
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/public/hot
/public/storage
/public/build
tests
phpunit.xml
README.md
.editorconfig
.gitattributes
.gitignore
.npmrc
estructura_proyecto.txt
